@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------------*/
/* ------------------ fonts ----------------*/
@font-face {
  font-family: "BrandonGrotesque";
  src: url("../../fonts/brandon_bld.eot");
  src: local("☺"), url("../../fonts/brandon_bld.woff") format("woff"), url("../../fonts/brandon_bld.ttf") format("truetype"), url("../../fonts/brandon_bld.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../../fonts/fontawesome-webfont.eot");
  src: local("☺"), url("../../fonts/fontawesome-webfont.woff") format("woff"), url("../../fonts/fontawesome-webfont.ttf") format("truetype"), url("../../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular.eot");
  src: local("☺"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype"), url("../fonts/LatoRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato-Light.eot");
  src: local("☺"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold.eot");
  src: local("☺"), url("../fonts/LatoBold.woff") format("woff"), url("../fonts/LatoBold.ttf") format("truetype"), url("../fonts/LatoBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* ------------ end fonts --------------- */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrap {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  color: #394b50;
}
.title h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  letter-spacing: -0.75px;
  text-transform: uppercase;
}
.title p {
  font-size: 16px;
  line-height: 22px;
  color: #5e6d71;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

/*=======================HEADER=======================*/
.header {
  width: 100%;
  height: 90px;
  padding: 20px 0;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  flex: 0 0 55px;
  overflow: hidden;
}
.header__logo img {
  max-width: 100%;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
}
.header__link {
  font-family: "LatoRegular";
  display: inline-block;
  color: #868686;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}
@media (max-width: 950px) {
  .header__link {
    padding: 20px 10px;
    font-size: 14px;
  }
}
@media (max-width: 783px) {
  .header__link {
    padding: 20px 10px;
    font-size: 13px;
  }
}
.header__link:hover {
  background-color: #ffbb42;
  color: #ffffff;
}
.header__link:active {
  color: #868686;
  box-shadow: 0 0 5px #5e5e5e;
}

@media (max-width: 769px) {
  body.stop {
    overflow: hidden;
  }

  .slick-slider.active {
    display: none;
  }

  .forms__notebook.active {
    display: none;
  }

  .footer__menu {
    display: none;
  }

  .header {
    padding: 10px 0;
    height: 65px;
  }
  .header.active:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #fff;
  }
  .header__logo {
    position: relative;
    z-index: 3;
  }

  .header__menu {
    position: fixed;
    top: -1000%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 70px 0 0 0;
    transition: all 0.5s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    z-index: 3;
  }
  .header__burger span {
    background: #ffc155;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: all 0.5s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background: #ffc155;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 10px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 10px;
  }

  .header__burger.active span {
    transform: scale(0);
  }
}
/*=======================END HEADER=======================*/
/*=======================FORMS=======================*/
.forms {
  background: #709dca;
  padding: 100px 0 0 0;
  margin-bottom: 70px;
}
@media (max-width: 1200px) {
  .forms {
    padding: 30px 0 0 0;
    margin: 0 0 20px 0;
  }
}
.forms__body {
  margin-bottom: 20px;
}
.forms__title {
  color: #ffffff;
  letter-spacing: -0.88px;
  text-align: center;
}
.forms__title h1 {
  text-transform: uppercase;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
}
.forms__title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.forms__row {
  display: flex;
  text-align: center;
  justify-content: center;
}
.forms__form input {
  width: 280px;
  color: #a9a9a9;
  font-size: 13px;
  padding: 20px 15px 20px 40px;
  margin: 0 0 5px 0;
  border-radius: 3px;
}
.forms__form_user {
  background: #fff url(../img/inputicon/user.png) 15px 20px no-repeat;
}
.forms__form_mail {
  background: #fff url(../img/inputicon/mail.png) 15px 20px no-repeat;
}
.forms__form_tell {
  background: #fff url(../img/inputicon/tell.png) 15px 20px no-repeat;
}
.forms__form input:focus {
  box-shadow: 0 0 10px #ffbb42;
}
.forms__form input::placeholder {
  color: #a9a9a9;
  font-size: 13px;
}
.forms__form button {
  background-color: #ffbb42;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 19.5px 40px;
}
@media (max-width: 1200px) {
  .forms__form button {
    width: 280px;
  }
}
.forms__form button:hover {
  background-color: #fff;
  border: 1px solid #ffbb42;
  color: #ffbb42;
  padding: 18.5px 39px;
}
.forms__form button:active {
  box-shadow: 0 0 10px #ffbb42;
}
.forms__image {
  max-width: 645px;
  height: 345px;
  background: url(../img/noutbooke.png) 0 0/100% auto no-repeat;
  margin: 0 auto;
  position: relative;
  top: 50px;
}
@media (max-width: 1200px) {
  .forms__image {
    top: 30px;
  }
}
@media (max-width: 700px) {
  .forms__image {
    background: none;
    height: 230px;
    margin-bottom: 50px;
  }
}
.forms__notebook {
  padding: 17px 0;
  max-width: 445px;
  min-height: 264px;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .forms__notebook {
    max-width: 400px;
    padding: 15px 0;
  }
}
@media (max-width: 700px) {
  .forms__monitor {
    border: 5px solid #000;
  }
}
.forms__slider {
  display: flex;
  max-width: 58px;
  justify-content: space-between;
  margin: 0 auto;
}

/*=======================END FORMS=======================*/
/*=======================SERVICES=======================*/
.services {
  padding: 105px 0 70px 0;
}
@media (max-width: 1200px) {
  .services {
    padding: 60px 0;
  }
}
.services__title {
  text-align: center;
  margin: 0 0 90px 0;
}
@media (max-width: 1200px) {
  .services__title {
    margin: 0 0 20px 0;
  }
}
.services__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -54px;
}
@media (max-width: 1200px) {
  .services__row {
    flex-direction: column;
    margin: 0;
  }
}
.services__column {
  flex: 0 0 50%;
  margin: 0 0 80px 0;
}
@media (max-width: 1200px) {
  .services__column {
    flex: 1 1 100%;
    margin: 0 0 20px 0;
  }
}
.services__column:hover {
  cursor: pointer;
}
.services__column:hover img {
  position: relative;
  bottom: 3px;
}
.services__item {
  padding: 0 54px;
}
@media (max-width: 1200px) {
  .services__item {
    padding: 0 10px;
  }
}

.item__row {
  display: flex;
}
.item__image {
  flex: 0 0 45px;
}
.item__image img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.item__body {
  flex: 1 1 auto;
  padding: 0 0 0 30px;
}
.item__title {
  color: #394b50;
  font-family: "LatoBold";
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.item__text {
  color: #7b7b7b;
  font-size: 13px;
  line-height: 22px;
}

/*=======================END SERVICES===================*/
/*=========================ABOUT=======================*/
.about {
  background-color: #ffc155;
}
.about__row {
  display: flex;
}
.about__image {
  background: url(../img/about/bg-about.jpg) 0 0/cover no-repeat fixed;
  -ms-background: url(../img/about/bg-about.jpg) 0 0/cover no-repeat;
  flex: 0 0 50%;
}
@media (max-width: 1200px) {
  .about__image {
    display: none;
  }
}
.about__item {
  color: #ffffff;
  flex: 0 1 50%;
}
@media (max-width: 1200px) {
  .about__item {
    flex: 1 1 100%;
    padding: 0 10px;
  }
}
.about__body {
  max-width: 490px;
  margin-left: 75px;
  padding: 160px 20px;
}
@media (max-width: 1200px) {
  .about__body {
    padding: 20px 20px;
    margin: 0;
  }
}
.about__title {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: -0.75px;
  margin: 0 0 30px 0;
}
@media (max-width: 1200px) {
  .about__title {
    margin: 0 0 10px 0;
  }
}
.about__text {
  font-size: 13px;
  line-height: 24px;
  margin: 0 0 30px 0;
}
@media (max-width: 1200px) {
  .about__text {
    margin: 0 0 10px 0;
  }
}
.about__btn a {
  display: inline-block;
  font-family: "LatoRegular";
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #e7ad48;
  padding: 17px 30px;
}
@media (max-width: 1200px) {
  .about__btn a {
    padding: 20px 60px;
  }
}
.about__btn a:hover {
  background-color: #ffffff;
  color: #ffc155;
}
.about__btn a:active {
  box-shadow: 0 0 10px #e7ad48;
}

/*======================END ABOUT=======================*/
/*======================SHOOSE==========================*/
.shooce {
  background-color: #e7edf3;
  padding: 140px 0 160px 0;
}
@media (max-width: 900px) {
  .shooce {
    padding: 10px 0 10px 0;
  }
}
.shooce__title {
  text-align: center;
  margin: 0 0 50px 0;
}
@media (max-width: 900px) {
  .shooce__title {
    margin: 0 0 20px 0;
  }
}
.shooce__columns {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
@media (max-width: 1200px) {
  .shooce__columns {
    max-width: 970px;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .shooce__columns {
    max-width: 750px;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .shooce__columns {
    max-width: none;
    flex-wrap: wrap;
  }
}
.shooce__column {
  flex: 0 1 33.333%;
  text-align: center;
  border: 1px solid #ccd5df;
  background-color: #ffffff;
  color: #818b95;
  line-height: 22px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 50px 30px;
}
@media (max-width: 900px) {
  .shooce__column {
    max-width: 970px;
    flex: 1 1 100%;
    padding: 20px 20px;
  }
}
.shooce__column_premium {
  background-color: #709dca;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  padding: 85px 30px;
}
@media (max-width: 900px) {
  .shooce__column_premium {
    padding: 20px 20px;
    border-radius: 0;
  }
}
.shooce__column:first-child {
  border-radius: 3px 0 0 3px;
}
@media (max-width: 900px) {
  .shooce__column:first-child {
    border-radius: 0;
  }
}
.shooce__column:last-child {
  border-radius: 0 3px 3px 0;
}
@media (max-width: 900px) {
  .shooce__column:last-child {
    border-radius: 0;
  }
}
.shooce__column-title {
  font-size: 25px;
  margin: 0 0 30px 0;
}
@media (max-width: 900px) {
  .shooce__column-title {
    margin: 0 0 15px 0;
  }
}
.shooce__column-price {
  width: 100px;
  margin: 0 auto 30px;
  font-size: 14px;
  font-variant: small-caps;
  font-family: "LatoLight";
}
@media (max-width: 900px) {
  .shooce__column-price {
    margin: 0 auto 10px;
  }
}
.shooce__column-price span {
  color: #ffbb42;
  font-family: "LatoBold";
  font-size: 60px;
  font-weight: 700;
}
.shooce__column-price sup {
  font-size: 35px;
}
.shooce__column-price_prem span {
  color: #fff;
}
.shooce__column-block {
  padding: 15px;
  border-top: 1px solid #e2e9f0;
}
@media (max-width: 900px) {
  .shooce__column-block {
    padding: 10px;
  }
}
.shooce__column-block:last-child {
  margin: 0;
}
.shooce__column-button_premium a:hover {
  background-color: #709dca;
}
.shooce__column-button a {
  display: inline-block;
  background-color: #ffbb42;
  border-radius: 3px;
  color: #ffffff;
  padding: 16px 20px;
}
.shooce__column-button a:hover {
  opacity: 0.8;
}
.shooce__column-button a:active {
  position: relative;
  top: 1px;
}

/*=====================END SHOOSE=======================*/
/*=====================WORKS============================*/
.works {
  padding: 150px 0;
}
@media (max-width: 900px) {
  .works {
    padding: 30px 0;
  }
}
.works__title {
  text-align: center;
  margin: 0 0 100px 0;
}
@media (max-width: 900px) {
  .works__title {
    margin: 0 0 20px 0;
  }
}
.works__row {
  display: flex;
  justify-content: space-between;
  margin: 0 -40px;
}
@media (max-width: 900px) {
  .works__row {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}
.works__columns {
  position: relative;
  text-align: center;
  padding: 40px;
}
@media (max-width: 1200px) {
  .works__columns {
    padding: 20px;
  }
}
.works__arrow_1 {
  position: absolute;
  top: 0;
  left: 245px;
}
@media (max-width: 1200px) {
  .works__arrow_1 {
    display: none;
  }
}
.works__arrow_2 {
  position: absolute;
  top: 120px;
  left: 245px;
}
@media (max-width: 1200px) {
  .works__arrow_2 {
    display: none;
  }
}
.works__arrow_3 {
  position: absolute;
  top: 0;
  left: 245px;
}
@media (max-width: 1200px) {
  .works__arrow_3 {
    display: none;
  }
}
.works__img {
  min-height: 66px;
  margin: 0 0 100px 0;
}
@media (max-width: 900px) {
  .works__img {
    margin: 0 0 20px 0;
  }
}
.works__body {
  line-height: 22px;
}
.works__titlle {
  color: #394b50;
  font-family: "LatoBold";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}
@media (max-width: 1200px) {
  .works__titlle {
    margin: 0 0 10px 0;
  }
}
.works__text {
  color: #7b7b7b;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 10px;
}
.works__button {
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 900px) {
  .works__button {
    margin-top: 20px;
  }
}
.works__button a {
  display: inline-block;
  background-color: #ffbb42;
  color: #ffffff;
  font-family: "LatoRegular";
  text-transform: uppercase;
  padding: 17px 28px 19px 28px;
}
.works__button a:hover {
  opacity: 0.8;
}
.works__button a:active {
  position: relative;
  bottom: 1px;
}

/*=====================END WORKS========================*/
/*=====================HAPPY========================*/
.happy {
  background-color: #ffc155;
  padding: 140px 0 135px 0;
}
@media (max-width: 1200px) {
  .happy {
    padding: 20px 0;
  }
}
.happy__title {
  text-align: center;
  margin: 0 0 58px 0;
}
.happy__title h2, .happy__title p {
  color: #ffffff;
}
@media (max-width: 1200px) {
  .happy__title {
    margin: 0 0 15px 0;
  }
}
.happy__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -18px;
}
@media (max-width: 1100px) {
  .happy__row {
    margin: 5px;
  }
}
.happy__client-block {
  flex: 0 1 50%;
  padding: 0px 18px;
  margin: 0 0 20px 0;
}
@media (max-width: 769px) {
  .happy__client-block {
    flex: 1 1 100%;
    margin: 5px;
    padding: 0 5px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .happy__client-block {
    flex-basis: calc(50% - 36px);
  }
}
.happy__block-body {
  display: flex;
  background-color: #ffffff;
  border-radius: 3px;
  color: #7b7b7b;
  padding: 50px 10px 50px 30px;
}
@media (max-width: 1150px) {
  .happy__block-body {
    flex-direction: column;
    padding: 20px;
  }
}
.happy__avatar {
  flex: 0 0 120px;
}
.happy__avatar img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
}
@media (max-width: 1150px) {
  .happy__avatar {
    margin: 0 auto 10px auto;
  }
}
.happy__text {
  flex: 1 1 auto;
  font-size: 13px;
  line-height: 22px;
  font-family: "Open Sans";
  padding: 0 30px;
}
@media (max-width: 1150px) {
  .happy__text {
    padding: 0;
  }
}
.happy__text p:first-child {
  margin-bottom: 29px;
}
@media (max-width: 1150px) {
  .happy__text p:first-child {
    margin: 0 0 10px 0;
  }
}
.happy__text p:last-child {
  text-transform: uppercase;
  color: #b0bdc1;
  font-family: "LatoRegular";
  line-height: 22px;
}
.happy__text span {
  color: #f6772c;
}

/*=====================END HAPPY========================*/
/*=====================NEWSLETTER========================*/
.newsletter {
  padding: 150px 0 60px 0;
}
@media (max-width: 1200px) {
  .newsletter {
    padding: 30px 10px 0 10px;
  }
}
.newsletter__title {
  text-align: center;
  margin: 0 0 38px 0;
}
@media (max-width: 1200px) {
  .newsletter__title {
    margin: 0 0 10px 0;
  }
}
.newsletter__body {
  border-bottom: 1px solid #e3e7ec;
}
.newsletter__row {
  display: flex;
  text-align: center;
  justify-content: center;
}
.newsletter__form {
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .newsletter__form {
    margin: 0 0 10px 0;
  }
}
.newsletter__form input {
  border: 1px solid #cbcbcb;
  display: inline-block;
  color: #a9a9a9;
  font-size: 13px;
  padding: 17px 15px 16px 40px;
  margin: 0 5px 10px 0;
  border-radius: 3px;
}
@media (max-width: 1200px) {
  .newsletter__form input {
    margin: 0 0 5px;
  }
}
.newsletter__form input:focus {
  box-shadow: 0 0 10px #ffbb42;
}
.newsletter__form input::placeholder {
  color: #a9a9a9;
  font-size: 13px;
}
.newsletter__form_user {
  width: 300px;
  background: #fff url(../../img/inputicon/user.png) 15px 16px no-repeat;
}
.newsletter__form_mail {
  width: 400px;
  background: #fff url(../../img/inputicon/mail.png) 15px 18px no-repeat;
}
@media (max-width: 1200px) {
  .newsletter__form_mail {
    width: 300px;
  }
}
.newsletter__form_btn {
  border-radius: 3px;
  width: 210px;
  background-color: #ffbb42;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 17px 5px 16px;
}
@media (max-width: 1200px) {
  .newsletter__form_btn {
    width: 300px;
  }
}
.newsletter__form_btn:hover {
  background-color: #fff;
  border: 1px solid #ffbb42;
  color: #ffbb42;
  padding: 16px 5px 15px;
}
.newsletter__form_btn:active {
  box-shadow: 0 0 10px #ffbb42;
}
.newsletter__map {
  background: url("/img/newsletter/map.png") top center no-repeat;
  height: 607px;
}
@media (max-width: 1200px) {
  .newsletter__map {
    height: 480px;
  }
}
.newsletter__item {
  width: 280px;
  height: 280px;
  padding: 55px 60px;
  background-color: #394b50;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 40px;
}
@media (max-width: 1200px) {
  .newsletter__item {
    width: 230px;
    height: 230px;
    padding: 25px 30px;
    top: 80px;
  }
}
.newsletter__item::after {
  content: "";
  position: absolute;
  left: 127px;
  bottom: -25px;
  border: 9px solid transparent;
  /*треугольник*/
  border-top: 19px solid #394b50;
  /*треугольник*/
}
@media (max-width: 1200px) {
  .newsletter__item::after {
    left: 105px;
  }
}
.newsletter__contact {
  text-align: center;
  color: #aeb7ba;
  line-height: 24px;
}
.newsletter__contact h4 {
  color: #ffffff;
  font-family: "LatoBold";
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.newsletter__contact a {
  color: #aeb7ba;
  font-family: "Open Sans";
}
.newsletter__contact #color {
  color: #ffbb42;
}

/*=====================END NEWSLETTER====================*/
.footer {
  padding: 30px 0 0 0;
}
.footer__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__list {
  display: flex;
  padding: 0 0 6px 0;
}
.footer__link {
  display: inline-block;
  color: #394b50;
  font-family: "LatoRegular";
  font-size: 13px;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}
.footer__link:hover {
  background-color: #ffbb42;
  color: #ffffff;
}
.footer__link:active {
  color: #868686;
  box-shadow: 0 0 5px #5e5e5e;
}
.footer__tel {
  max-width: 220px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.footer__tel a {
  color: #394b50;
  font-family: "LatoRegular";
  font-size: 23px;
  line-height: 24.15px;
  text-align: center;
}
.footer__tel a:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  background: url(../../img/socialicon/tel.png) 0 0 no-repeat;
}
.footer__tel a:hover {
  text-decoration: underline;
}
.footer__socialicon {
  width: 104px;
  margin: 0 0 50px 0;
}
@media (max-width: 1200px) {
  .footer__socialicon {
    width: 300px;
    margin: 0 0 20px 0;
  }
}
.footer__socialicon-row {
  display: flex;
  justify-content: space-between;
}
.footer__socialicon-row a {
  display: block;
}
.footer__socialicon-row a:hover {
  position: relative;
  bottom: 2px;
}
@media (max-width: 1200px) {
  .footer__socialicon-row a {
    padding: 20px;
  }
  .footer__socialicon-row img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.footer__copyright {
  min-height: 45px;
  background-color: #709dca;
  padding: 10px 0;
}
@media (max-width: 380px) {
  .footer__text {
    max-width: 290px;
    margin: 0 auto;
  }
}
.footer__text p {
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
}